/* Home Page */
/* Section 1: Appointment Ad */
#appointmentAd{
    position: relative;
    /* height: 50em; */
    /* max-height: 20rem; */
    width: 100%;
}
#appointmentAd .col{
    background: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    /* height: 45rem; */
    width: 100%;
    height: 35rem;
}
#appointmentAd .col{
    width: 100%;
}
#appointmentAd .col div{
    margin: 10rem 0 0 10rem;
}
#appointmentAd .col .h3, #appointmentAd .col .h1{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 3rem;
    margin-right: 0;
}

#appointmentAd .col .h1{
    width: 30rem;
    margin-bottom: 30px;
}
#appointmentAd .col .h1 span{
    color: var(--primary-clr);
}
#appointmentAd .col a{
    background-color: var(--primary-clr);
    padding: 15px 20px;
    color: white;
    border-radius: 2px;
}
@media (max-width:750px) {
    #appointmentAd .col .h3, #appointmentAd .col .h1{
        font-size: 1rem;   
    }
    /* #appointmentAd .col{
        margin: 50px;
    } */
    #appointmentAd .col a{
        padding: 5px;
        font-size: smaller;
    }
    #appointmentAd .col .h1{
        width: 10rem;
        margin-bottom: 10px;
    }
    #appointmentAd .col div{
        margin: 1rem 0 0 1rem;
    }
    
}
@media (max-width:975px) {
    #appointmentAd .col .h3, #appointmentAd .col .h1{
        font-size: 2.3rem;   
    }
    /* #appointmentAd .col{
        margin: 50px;
    } */
    #appointmentAd .col a{
        padding: 15px;
        font-size: smaller;
    }
    #appointmentAd .col .h1{
        width: 20rem;
        margin-bottom: 20px;
    }
}
/* End of Appointment Ad */
/* Footer */
footer #mainFooter #ourDoctors .doct i, footer #mainFooter #ourServices .service i{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.603);
}
footer{
    background-color: white;
}
